@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.page-full {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
        background-image: url(../img/back.png) ;     
        min-height: 56rem;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
      }

.page {
    padding: 5rem 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;
}

.formRegistration {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    gap: 5px
}
.formRegistration p {
    display: inline-block;
    font-size: 24px;
    color: #666;
    margin-bottom: 25px;
}

.formRegistration input {
    padding: 15px;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    transition: all linear 160ms;
    outline: none;
}


.formRegistration input:focus {
    border-bottom: 2px solid blue;
}

.formRegistration label {
    font-size: 14px;
    font-weight: 600;
}

.formRegistration a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formRegistration a:hover {
    color: #260A2F;
}

.btn {
    background-color: blue;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none ;
    border-radius: 30px;
    transition: all linear 160ms;
    cursor: pointer;
}
.create {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.create a {
    text-decoration: none;
    padding: 10px;
    color: darkblue;
    font-weight: 600;
    border: solid 1px darkblue;
    border-radius: 30px;
}

.loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    padding: 20px;
}
@media only screen and (max-width: 1430px ){
    .background {
        display: none;
    }
}