
@layer geral {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    :root {
        --green-gradient: linear-gradient(180deg, #278848 0%, #59a928 100%);
        --white: #fff;
        --gray-400: #9ca4ab;
        --gray-100: #fafafa;
        --gray-shadow: #07070783;
        --christi-400: #80d14a;
        --christi-300: #9debb5;
        --christi-500: #59a928;
        --black-700: #212121;
        --black-800: #0d0c0f;
        --gray-500: rgba(85, 85, 85, 0.55);
        --blue-500: #2a43f5;
        --blue-800: #191991;
        --dove-gray-900: #3d3d3d;
        --font-primary: 'Montserrat', sans-serif;
        --font-secondary: 'Poppins', sans-serif;
      }
      
    body {
        font-family: var(--font-primary);
        background-color: var(--white);
    }

}

@layer header {
    header {
        width: 100%;
        font-weight: 700;
        z-index: 9999;
        position: fixed;
        background-color: var(--white);
        box-shadow: 0px 2px 10px var(--gray-shadow);
      
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.1rem 8%;
        
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .logo a {
        text-decoration: none;
        cursor: pointer;
    }
    .logo img {
        width: 20px;
    }
    
    .logo span {
        font-size: 20px;
        color: var(--blue-500);
    }
    .menu--desktop ul{
        display: flex ;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
    
    .nav--itens {
        list-style: none;
        text-decoration: none;
    }
    .nav--itens a {
        text-decoration: none;
        color: var(--black-800);
        font-size: 14px;
        font-weight: 600;
    }
    .nav--link {
      position: relative;
    }
    .nav--link::after{
      content: " ";
      width: 0;
      height: 0.1rem;
      background-color: var(--gray-400);
      position: absolute;
      top: 1rem;
      left: 0;
      border-radius: 3.1rem;
    }
    .nav--link:hover::after{
      width: 100%;
    }
    .nav--btn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    .btn--1 button {
      padding: .8rem;
      font-size: 1.1rem;
      color: var(--blue-500);
      border: solid var(--blue-500) 1px;
      border-radius: 20px;
      background-color:var(--white);  
    }
    .btn--1 button:hover{
      border-color: var(--black-800);
      color: var(--black-800);
    }
    .btn--2 button {
      padding: .8rem;
      font-size: 1.1rem;
      border: none;
      border-radius: 20px;
      color: var(--white);
      background-color: var(--blue-500);
        
    }
    .btn--2 button:hover {
      background-color: var(--blue-800);
      color: var(--white);
    }
}


@layer main {

    .hero__container {
      padding: 7rem 8%;     
    }
    
    .hero {
      background-image: url(../img/heroRemessa.png) ;
      min-height: 56rem;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    
    }
    .top--info{
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 1.1rem;
      font-family: var(--font-secondary);
      font-size: 14px;
      font-weight: 500;
      background-color: var(--christi-300);
      border: none;
      border-radius: 1.1rem;
    }
    .hero__title {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      color: var(--black-800);
      font-family: var(--font-primary);
      font-weight: 600;
      font-size: 2rem;
      padding-top: 7rem;   
      padding-bottom: 3rem;   
    }
    .hero__subtitle {
      color: var(--black-800);
      font-size: 16px;
      font-family: var(--font-secondary);
      font-weight: 400;
      line-height: 2.2rem;
      margin-bottom: 2.4rem;
      text-align: left;
      margin-right: 50%;
    }
    .hero__subtitle i {
      margin-right: 10px;
      color: var(--blue-500);
    }
    .forms--content {
      height: 100vh;
    }
  }

@layer footer {
    footer > .interface{
        background-color: var(--blue-500);
        padding: 2.5rem 8%;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo--footer{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: left;
        color: var(--white);
      }
      .logo--footer img{
        height: 2.5rem; 
        margin-left: -15px;
      }
      .logo--footer span {
        margin-left: -10px
      }
      .coders{       
        width: 100%;
        padding: 1.8rem;
        background-color: var(--blue-500);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.8rem;
      }
      .social{
        list-style: none;
        line-height: 2.5rem;
      }
      .social li{
        color: var(--white); 
        text-align: center; 
        font-size: 1rem;       
      }
      .social a{
        text-decoration: none;
        
      }
      .social span{
        color: var(--white);
        font-size: 1rem;
      }
      .social i{
        padding: 0.4rem;
        color: var(--black-800);
        font-size: 1rem;
        background-color: var(--white);  
        border: none;
        border-radius: 50%; 
        margin-right: 10px; 
      }
      .line--footer{ 
        background-color: var(--blue-500);
        width: 100%;
        padding: 0.6rem 8%;
        color: var(--white);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
      }
      .text--center{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.5rem;
      }
      .text--center img {
        height: 3.5rem;
      }
      .text--mail{
        font-size: .8rem;
        color: var(--white);
        text-decoration: none;
      }
      .text--small{
        font-size: .8rem;
        color: var(--white);
        line-height: 1.5rem;
      }
      .last--text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
      }
      .copyright i {
        font-size: 14px;
      }

}

@layer responsive {
  @media only screen and (max-width: 1650px ){
    /* --------------------- HEADER --------------------- */
    .hero__subtitle {
      font-size: 14px;
     }
    /* -------------------------------------------------- */
   
  }
  @media only screen and (max-width: 1377px ){
    /* --------------------- HEADER --------------------- */
    .hero__title {
      font-size: 1.5rem;
    }
    .hero__subtitle {
      font-size: 12px;
    }
    /* -------------------------------------------------- */   
  }
  @media only screen and (max-width: 1266px) {
    /* --------------------- HEADER --------------------- */
    .top--info {
      font-size: 10px;
    }
    .hero__title {
      font-size: 1.2rem;
    }
    .hero__subtitle {
      font-size: 8px;
      line-height: 1.5rem;
    }
    /* -------------------------------------------------- */

    /* --------------------- MAIN --------------------- */

    /* ------------------------------------------------ */
    
    /* --------------------- FOOTER --------------------- */
    .social{
      line-height: 1.5rem;
    }
    .social li{
      font-size: .8rem;       
    }
    .social span{
      font-size: .8rem;
    }
    .social i{
      font-size: .8rem;
      margin-top: 10px;
    }
    .text--small{
      font-size: .6rem;
      line-height: 1.5rem;
    }
    .copyright i {
      font-size: 12px;
    }
    /* -------------------------------------------------- */
   }
  @media only screen and (max-width: 1024px) {

    /* --------------------- HEADER --------------------- */
    .menu--desktop {
      display: none;
    }
    .nav--btn .btn--1 {
      display: none;
    }
    .btn--2 button {
      padding: .8rem;
      font-size: 1.1rem;
      color: var(--blue-500);
      border: solid var(--blue-500) 1px;
      border-radius: 20px;
      background-color:var(--white);  
    }
    .btn--2 button:hover{
      border-color: var(--black-800);
      color: var(--black-800);
    }
     /* -------------------------------------------------- */


    /* --------------------- MAIN --------------------- */

    /* ------------------------------------------------ */
    

    /* --------------------- FOOTER --------------------- */
    .social{
      line-height: 1.2rem;
    }
    .social li{
      font-size: .6rem;       
    }
    .social span{
      font-size: .6rem;
    }
    .social i{
      font-size: .6rem;
      margin-top: 10px;
    }
    .text--small{
      font-size: .5rem;
      line-height: 1.2rem;
    }
    .text--mail{
      font-size: .5rem;
    }
    .copyright i {
      font-size: .5rem;
    }
    /* -------------------------------------------------- */
 }
  
  
  @media only screen and (max-width: 835px ) {
    .top--info {
      font-size: 8px;
    }
    .hero__title {
      font-size: 1rem;
    }
    .hero__subtitle {
      font-size: 7px;
      line-height: 1rem;
    }
  }
}
