
@layer geral {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    :root {
        --exchange-rate-color: #555;
        --input-background: rgba(119, 136, 153, 0.15);
        --input-shadow: rgba(119, 136, 153, 0.35);
        --input-border: #ddd;
        --shadow-1: rgba(0, 0, 0, 0.25);
        --shadow-2: rgba(0, 0, 0, 0.15);
        --loading-bg-1: #c2cfd6;
        --loading-bg-2: #f0f3f5;
        --green-gradient: linear-gradient(180deg, #278848 0%, #59a928 100%);
        --white: #fff;
        --gray-400: #9ca4ab;
        --gray-100: #fafafa;
        --yellow-200: #fcfdc7;
        --gray-shadow: #07070783;
        --christi-400: #80d14a;
        --christi-300: #9debb5;
        --christi-500: #59a928;
        --black-700: #212121;
        --black-800: #0d0c0f;
        --gray-500: rgba(85, 85, 85, 0.55);
        --blue-500: #2a43f5;
        --blue-800: #191991;
        --dove-gray-900: #3d3d3d;
        --font-primary: 'Montserrat', sans-serif;
        --font-secondary: 'Poppins', sans-serif;
      }
      
    body {
        font-family: var(--font-primary);
        background-color: var(--white);
    }

}

@layer header {
    header {
        width: 100%;
        font-weight: 700;
        z-index: 9999;
        position: fixed;
        background-color: var(--white);
        box-shadow: 0px 2px 10px var(--gray-shadow);
      
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.1rem 8%;
        
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .logo a {
        text-decoration: none;
        cursor: pointer;
    }
    .logo img {
        width: 20px;
    }
    
    .logo span {
        font-size: 20px;
        color: var(--blue-500);
    }
    .menu--desktop ul{
        display: flex ;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
    
    .nav--itens {
        list-style: none;
        text-decoration: none;
    }
    .nav--itens a {
        text-decoration: none;
        color: var(--black-800);
        font-size: 14px;
        font-weight: 600;
    }
    .nav--link {
      position: relative;
    }
    .nav--link::after{
      content: " ";
      width: 0;
      height: 0.1rem;
      background-color: var(--gray-400);
      position: absolute;
      top: 1rem;
      left: 0;
      border-radius: 3.1rem;
    }
    .nav--link:hover::after{
      width: 100%;
    }
    .nav--btn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    .btn--1 button {
      padding: 10px 25px;
      font-size: 1.1rem;
      color: var(--blue-500);
      border: solid var(--blue-500) 1px;
      border-radius: 20px;
      background-color:var(--white); 
      cursor: pointer;  
    }
    .btn--1 button:hover{
      border-color: var(--black-800);
      color: var(--black-800);
    }
    .btn--2 button {
      padding: 10px 25px;
      font-size: 1.1rem;
      border: none;
      border-radius: 20px;
      color: var(--white);
      background-color: var(--blue-500);
      cursor: pointer;
    }
    .btn--2 button:hover {
      background-color: var(--blue-800);
      color: var(--white);
    }
    .btn--open {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .btn--open img {
      width: 2.1rem;
      color: var(--blue-500);
    }
    .menu--mobile {
      display: none;
      height: 100vh;
      z-index: 9998;
    }
}


@layer main {

    .hero__container {
      padding: 7rem 8%;     
    }
    .hero {
      background-image: url(../img/heroRemessa.png) ;
      min-height: 56rem;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    
    }
    .top--info{
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 1.1rem;
      font-family: var(--font-secondary);
      font-size: 14px;
      font-weight: 500;
      background-color: var(--christi-300);
      border: none;
      border-radius: 1.1rem;
    }
    .hero__title {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      color: var(--black-800);
      font-family: var(--font-primary);
      font-weight: 600;
      font-size: 2rem;
      padding-top: 7rem;   
      padding-bottom: 3rem;   
    }
    .hero__subtitle {
      color: var(--black-800);
      font-size: 16px;
      font-family: var(--font-secondary);
      font-weight: 400;
      line-height: 2.2rem;
      margin-bottom: 2.4rem;
      text-align: left;
      margin-right: 50%;
    }
    .hero__subtitle i {
      margin-right: 10px;
      color: var(--blue-500);
    }

    /* SECTION CARDS */

    .cards {
      height: 50vh;
      background-color: var(--white);
    }

    /* SECTION CONVERSOR */
   
    .conversor--container {
      font-family: var(--font-primary);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      background-color: var(--blue-500);
      position: relative;
    }
    #controls {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #transaction-history {
      margin-top: 20px;
      display: none;
    }
    .hidden {
      display: none;
    }
    .wrapper{
      width: 350px;
      padding: 20px;
      border-radius: 25px;
      background: var(--white);
      box-shadow: 0 0 5px var(--shadow-1), 0 5px 10px var(--shadow-2);
      overflow: hidden;
      position: relative;
    }

    .btn--dados{
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .btn--f{
      height: 40px;
      color: var(--blue-500);
      font-size: 17px;
      cursor: pointer;
      background: var(--white);
      transition: 0.3s ease;
      border: solid var(--blue-500) 1px;
      border-radius: 35px;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .btn--f:hover{
      background: var(--blue-500);
      color: var(--white);
    }
    .logo--convert{
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 10px;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
     font-family: var(--font-primary);
     color: var(--blue-500);
    }
    .logo--convert img{
      width: 1.6rem;
      margin-right: 5px;
    }
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: var(--green);
    }
    
    button {
      border: none;
      cursor: pointer;
      font-size: 1rem;
    }
    
    .controls {
      display: grid;
      gap: 20px;
      position: relative;
    }
    
    .control {
      display: flex;
      background: var(--input-background);
      box-shadow: inset 0 0 3px var(--input-shadow);
      border-radius: 10px;
      overflow: hidden;
    }
    
    .control button {
      --image: url(https://placehold.co/30/teal/white?text=$);
      font-weight: 600;
      background: transparent;
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .control button::before {
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: var(--blue-500) var(--image) center no-repeat;
    }
    
    .control button::after {
      font-family: "Material Symbols Outlined";
      font-size: 1.5rem;
      content: "\e5cf";
    }
    
    .control button:hover {
      color: var(--blue-800);
    }
    
    .control input {
      font-size: 2.5rem;
      text-align: end;
      background: transparent;
      width: 100%;
      border: none;
      outline: none;
      padding: 10px 20px;
    }
    
    .control input::-webkit-inner-spin-button,
    .control input::-webkit-outer-spin-button {
      appearance: none;
    }
    .swap-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--blue-500);
      color: var(--white);
      line-height: 1;
      box-shadow: 0 3px 5px var(--shadow-1);
      position: absolute;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }
    
    .swap-btn:hover {
      background: var(--blue-800);
    } 
    
    .swap-btn span {
      rotate: 90deg;
      transition: inherit;
    }
    
    .swap-btn:hover span {
      rotate: 270deg;
    }
    
    .exchange-rate {
      text-align: center;
    }
    
    .exchange-rate h5 {
      text-transform: uppercase;
      color: var(--blue-500);
      padding-top: 20px;
    }
    
    .exchange-rate span {
      margin-top: 10px;
      display: inline-block;
      color: var(--exchange-rate-color);
      font-weight: 500;
    }
    
    .exchange-rate span:empty {
      min-width: 120px;
      min-height: 1.5rem;
    }
    
    .drawer {
      position: absolute;
      inset: 0;
      background: var(--white);
      padding: 20px;
      display: grid;
      align-content: start;
      gap: 20px;
      transform: translateY(100%);
      transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    
    .drawer.show {
      transform: none;
    }
    
    .title {
      text-align: center;
      position: relative;
    }
    
    .title button {
      position: absolute;
      top: 50%;
      inset-inline-start: 0;
      transform: translateY(-50%);
      background: transparent;
      opacity: 0.5;
    }
    
    .title button:hover {
      opacity: 1;
    }
    
    .search input {
      width: 100%;
      font-size: 1rem;
      padding: 10px 20px;
      border: 1px solid var(--input-border);
      border-radius: 10px;
      outline-color: var(--blue-500);
    }
    
    .currency-list {
      list-style-type: none;
      overflow-y: auto;
    }
    
    .currency-list li {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding-block: 5px;
    }
    
    .currency-list li:first-child {
      padding-block-start: 0;
    }
    
    /* disable click events for non list item */
    .currency-list *:not(li) {
      pointer-events: none;
    }
    
    .skeleton {
      position: relative;
    }
    
    .skeleton::after {
      position: absolute;
      inset: 0;
      z-index: 5;
      border-radius: 0.25rem;
      content: "";
      animation: loading 1s linear infinite alternate;
    }
    
    @keyframes loading {
      from {
        background: var(--loading-bg-1);
      }
      to {
        background: var(--loading-bg-2);
      }
    }
    
    .resultados ul{
      display: none;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 150px;
      gap: 20px;
      padding: 1.5rem;
      border-radius: 20px;
      background-color: var(--yellow-200);
      box-sizing: content-box;
      overflow: hidden;
      overflow-y: scroll;   
    }
    .resultados li{
      list-style: none;
      color: var(--black-700);
      font-size: small;
      margin-bottom: 10px;
    }
    .text--resultL {
      font-size: 3.5rem;
      font-weight: 700;
    }
    .text--resultS {
      font-size: 1.5rem;
    }   

    /* SECTION INFOS */

    .last--info {
      height: 50vh;
      background-color: var(--white);
    }
  }

@layer footer {
    footer > .interface{
        background-color: var(--blue-500);
        padding: 2.5rem 8%;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo--footer{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: left;
        color: var(--white);
      }
      .logo--footer img{
        height: 2.5rem; 
        margin-left: -15px;
      }
      .logo--footer span {
        margin-left: -10px
      }
      .coders{       
        width: 100%;
        padding: 1.8rem;
        background-color: var(--blue-500);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.8rem;
      }
      .social{
        list-style: none;
        line-height: 2.5rem;
      }
      .social li{
        color: var(--white); 
        text-align: center; 
        font-size: 1rem;       
      }
      .social a{
        text-decoration: none;
        
      }
      .social span{
        color: var(--white);
        font-size: 1rem;
      }
      .social i{
        padding: 0.4rem;
        color: var(--black-800);
        font-size: 1rem;
        background-color: var(--white);  
        border: none;
        border-radius: 50%; 
        margin-right: 10px; 
      }
      .line--footer{ 
        background-color: var(--blue-500);
        width: 100%;
        padding: 0.6rem 8%;
        color: var(--white);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
      }
      .text--center{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.5rem;
      }
      .text--center img {
        height: 3.5rem;
      }
      .text--mail{
        font-size: .8rem;
        color: var(--white);
        text-decoration: none;
      }
      .text--small{
        font-size: .6rem;
        color: var(--white);
        line-height: 1.5rem;
      }
      .last--text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
      }
      .copyright i {
        font-size: 14px;
      }

}

@layer responsive {
  @media only screen and (max-width: 1650px ){
    /* --------------------- HEADER --------------------- */
    .hero__subtitle {
      font-size: 14px;
     }
    /* -------------------------------------------------- */
   
  }
  @media only screen and (max-width: 1377px ){
    /* --------------------- HEADER --------------------- */
    .hero__title {
      font-size: 1.5rem;
    }
    .hero__subtitle {
      font-size: 12px;
    }
    /* -------------------------------------------------- */   
  }
  @media only screen and (max-width: 1266px) {
    /* --------------------- HEADER --------------------- */
    .top--info {
      font-size: 10px;
    }
    .hero__title {
      font-size: 1.2rem;
    }
    .hero__subtitle {
      font-size: 8px;
      line-height: 1.5rem;
    }
    /* -------------------------------------------------- */

    /* --------------------- MAIN --------------------- */

    /* ------------------------------------------------ */
    
    /* --------------------- FOOTER --------------------- */
    .social{
      line-height: 1.5rem;
    }
    .social li{
      font-size: .8rem;       
    }
    .social span{
      font-size: .8rem;
    }
    .social i{
      font-size: .8rem;
      margin-top: 10px;
    }
    .text--small{
      font-size: .6rem;
      line-height: 1.5rem;
    }
    .copyright i {
      font-size: 12px;
    }
    /* -------------------------------------------------- */
   }
  @media only screen and (max-width: 1024px) {

    /* --------------------- HEADER --------------------- */
    .container {
      padding: 1.1rem 2rem;
    }
    .logo img {
      width: 40px;
    }
    .logo span {
      display: none;
    }
    .menu--desktop {
      display: none;
    }
    .nav--btn .btn--1 {
      display: none;
    }
    .btn--2 button {
      color: var(--blue-500);
      border: solid var(--blue-500) 1px;
      background-color:var(--white);
    }
    .btn--2 button:hover{
      border-color: var(--black-800);
      color: var(--black-800);
    }
    .btn--open {
      display: block;
    }
    .btn--open button {
      background-color: transparent;
      border: none;
    }
    .menu--mobile ul {
      display: flex;
      text-align: center;
      flex-direction: column;
      padding-bottom: 1rem ;
    }
    .menu--mobile .nav--itens {
      display: block;
      padding-top: 1.3rem;
      padding-bottom: 1rem;
      text-align: left;
      margin-left: 2rem;
    }
    .btn--link {
      text-decoration: none;
      color: var(--black-800);
      padding-top: 1.3rem;
    }
    .menu--mobile .btn--1 {
      padding: 1rem 2rem;
    }
    .menu--mobile .btn--1  button{
      width: 100%;

    }
    .open{
      display: block;
    }
    .hide{
      display: none;
    }
    .btn--scroll button{
      color: var(--white);
      background-color: var(--blue-500);
    }
    .btn--scroll button:hover {
      background-color: var(--blue-800);
      color: var(--white);
    }
    /* -------------------------------------------------- */


    /* --------------------- MAIN --------------------- */
    .result {
      line-height: 1rem;
    }
    .text--resultL {
      font-size: 3rem;
      font-weight: 700;
    }
    .text--resultS {
      font-size: 1rem;
    }
    /* ------------------------------------------------ */
    

    /* --------------------- FOOTER --------------------- */
    .social{
      line-height: 1.2rem;
    }
    .social li{
      font-size: .6rem;       
    }
    .social span{
      font-size: .6rem;
    }
    .social i{
      font-size: .6rem;
      margin-top: 10px;
    }
    .text--small{
      font-size: .5rem;
      line-height: 1.2rem;
    }
    .text--mail{
      font-size: .5rem;
    }
    .copyright i {
      font-size: .5rem;
    }
    /* -------------------------------------------------- */
 }
  @media only screen and (max-width: 840px ) {
    .top--info {
      font-size: 8px;
    }
    .hero__title {
      font-size: 1rem;
    }
    .hero__subtitle {
      font-size: 7px;
      line-height: 1rem;
    }

    .result {
      line-height: 1rem;
    }
    .text--resultL {
      font-size: 3rem;
      font-weight: 700;
    }
    .text--resultS {
      font-size: .8rem;
    }

    footer > .interface{
      padding: 2.5rem 4%;
      flex-direction: column;
     }
     .line--footer{ 
      flex-direction: column;
  
      }
      .last--text{
        flex-direction: column;
      }
  }
  @media only screen and (max-width: 750px) {
    .hero__container {
      padding: 7rem 4%;     
    }
    .hero {
      background-image: url(none) ;
    }
    .hero__title {
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 1.3rem; 
    }
    .hero__subtitle {
      font-size: 8px;
      line-height: 1rem;
    }
    .hero__subtitle i {
      margin-right: 5px;
    }
    .conversor--container {
      height: 120vh;
    }
    .result {
      line-height: 8px;
    }
    .text--resultL {
      font-size: 36px;
    }
    .text--resultS {
      font-size: 7px;
    }
    
  }
  @media only screen and (max-width: 380px) {
    .coders{       
     flex-direction: column;
    }

    .wrapper{
      width: 340px;
      padding: 20px;
   
    }
    .text--resultL {
      font-size: 30px;
    }
    .text--resultS {
      font-size: 7px;
    }
  }
  @media only screen and (max-width: 340px){
    .hero__title {
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 1rem; 
    }
    .conversor--container {
      height: 150vh;      
    }

    .wrapper{
      width: 300px;
      padding: 15px;
    }
    .wrapper{
      width: 280px;
      padding: 20px;
    }
    .logo--convert{
      padding: 10px;
      font-size: 16px;
    }
    .logo--convert img{
      width: 1.1rem;
      margin-right: 5px;
    }
    .wrapper .form{
      margin: 20px 0 20px 0;
    }
    .form :where(input, select, button){
      width: 100%;
      outline: none;
      border-radius: 30px;
      border: none;
    }
    .form p{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .form input{
      height: 30px;
      font-size: 12px;
      padding: 0 10px;
      border: 1px solid #999;
    }
    .form input:focus{
      padding: 0 14px;
      border: 2px solid var(--blue-500);
    }
    .form .drop-list{
      display: flex;
      margin-top: 10px;
      align-items: center;
      justify-content: space-between;
    }
    .drop-list .select-box{
      width: 80px;
      height: 40px;
    }
    .select-box select{
      width: auto;
      font-size: 12px;
    }
    .select-box select::-webkit-scrollbar{
      width: 8px;
    }

    .drop-list .icon{
      margin-top: 30px;
      font-size: 14px;
      padding: 10px;
    }
    .form .exchange-rate{
      font-size: 8px;
      margin: 20px 0 30px;
    }
    .form button{
      height: 30px;
      font-size: 12px;
      cursor: pointer;
      background: var(--white);
      transition: 0.3s ease;
      border: solid var(--blue-500) 1px;
    
    }
    .form button:hover{
      background: var(--blue-500);
      color: var(--white);
    }
    .text--resultL {
      font-size: 20px;
    }
    .text--resultS {
      font-size: 5px;
    }

  }
}
